    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black" data-image="http://demos.creative-tim.com/material-dashboard-pro/assets/img/login.jpeg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row center">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                          <h1>404</h1>
                          <h3>Page not Found !</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>