<div class="wrapper">
  <app-sidebar [menus]="agentMenu"></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>