<div class="modal fade" id="jualVoucher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Jual Voucher</h4>
      </div>
      <form #jualVoucherForm="ngForm" (ngSubmit)="addTransaksi(jualVoucherForm.value)">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="fa fa-id-card" aria-hidden="true"></i>
	          	</span>
              <select title="Pilih Bulan" name="idVoucher" id="" ngModel required>
                <option value="" selected>Pilih Voucher</option>
                <option *ngFor="let voucher of listVouchers" value="{{voucher.id}}">
                  {{voucher.name}}
                </option>           
              </select>
            </div>
          </div>          
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">phone</i>
	          	</span>
              <input type="text" class="form-control" name="noHp" placeholder="No Hp" ngModel required>
            </div>
          </div>                
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info btn-simple" >Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
