<div class="col-lg-6 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-header" data-background-color="green">
      <i class="fa fa-money"></i>
    </div>
    <div class="card-content">
      <p class="category">Saldo</p>
      <h3 class="card-title">{{saldoKu | currency:'IDR':true:'4.2-2'}}</h3>
    </div>
    <div class="card-footer">
      <div class="pull-right">
        <button class="btn btn-warning btn-round" data-toggle="modal" data-target="#jualVoucher">
            <span class="btn-label">
                <i class="material-icons">add</i>
            </span>
            Transaksi
            <div class="ripple-container"></div>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Rekapitulasi Bulan Ini</h4>         
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th>TGL</th>
              <th class="warning">Aksi</th>              
              <th class="danger">Nominal</th>
              <th class="success">Sisa Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rekapAgt of rekapKu">
              <td>{{rekapAgt.createdAt | date:"MM/dd/yyyy"}}</td>
              <td class="warning">{{rekapAgt.aksi}}</td>              
              <td class="danger">{{rekapAgt?.nominal | currency:'IDR':true:'4.2-2'}}</td>
              <td class="success">{{rekapAgt.sisaSaldo | currency:'IDR':true:'4.2-2'}}</td>
            </tr>                    
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-modal-transaksi></app-modal-transaksi>