<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Rekapitulasi Fee Marketing</h4> 
      <form #selectMonth="ngForm" (ngSubmit)="onSelectMonth(selectMonth.value)">
        <select class="selectpicker" data-style="select-with-transition" title="Pilih Bulan" name="bulan" id="bulan" ngModel>
          <option value="1">Januari</option>
          <option value="2">Februari</option>
          <option value="3">Maret</option>
          <option value="4">April</option>
          <option value="5">Mei</option>
          <option value="6">Juni</option>
          <option value="7">Juli</option>
          <option value="8">Agustus</option>
          <option value="9">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Desember</option>
        </select>
        <button type="submit" class="btn btn-success btn-round">
          <i class="material-icons">date_range</i> Tampilkan
        </button>
      </form>            

      <div class="table-responsive" *ngIf="mktRekaps.length > 0">
      <table class="table table-hover">
        <thead class="text-primary">
          <tr>
            <th>TGL</th>
            <th class="warning">ID-DST</th>
            <th class="success">Nominal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mktRekap of mktRekaps">
            <td>{{mktRekap.createdAt | date:"MM/dd/yyyy"}}</td>
            <td class="warning">{{mktRekap.User.idUser}}</td>
            <td class="success">{{mktRekap.nominal | currency:'IDR':true:'4.2-2' }}</td>
          </tr>
          <tr>
            <td class="danger" colspan="2" align="center">Total</td>
            <td class="success total" align="center">{{totalFee | currency:'IDR':true:'4.2-2' }}</td>
          </tr>                   
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
