<div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header" data-background-color="green" data-header-animation="true">
        <i class="material-icons">credit_card</i>
      </div>
      <div class="card-content">
        <p class="category">Saldo</p>
        <h3 class="card-title">{{totalSaldoBank | currency:'IDR':true:'4.2-2'}}</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i> Last 1 Month
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card card-chart">
          <div class="card-header" data-background-color="rose" data-header-animation="true">
              <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-content">
              <div class="card-actions">
                  <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                      <i class="material-icons">build</i> Fix Header!
                  </button>
                  <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="refresh()">
                      <i class="material-icons">refresh</i>
                  </button>
              </div>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <i class="material-icons">access_time</i> updated 4 minutes ago
              </div>
          </div>
      </div>
  </div>
</div>

<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Rekapitulasi</h4>
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th>TGL</th>
              <th class="warning">ID-DST</th>
              <th class="info">Saldo Bersih</th>
              <th class="success">Saldo di Bank</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rekapDst of rekapDsts">
              <td>{{rekapDst.createdAt | date:"MM/dd/yyyy"}}</td>
              <td class="warning">{{rekapDst.User.idUser}}</td>
              <td class="info">{{rekapDst.saldoBersih | currency:'IDR':true:'4.2-2'}}</td>
              <td class="success">{{rekapDst.saldoBank | currency:'IDR':true:'4.2-2'}}</td>
            </tr>
            <tr>
              <td class="danger"></td>
              <td class="danger" align="center">Total</td>
              <td class="info total" align="center">{{totalSaldoBersih | currency:'IDR':true:'4.2-2'}}</td>
              <td class="success total" align="center">{{totalSaldoBank | currency:'IDR':true:'4.2-2'}}</td>
            </tr>                     
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">assignment</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Rekapitulasi</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-primary">
            <tr>
              <th>NO.</th>
              <th>URAIAN</th>
              <th>KREDIT</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>1</td>
              <td>SALDO PRD DI BANK</td>
              <td></td>
            </tr>
            <tr class="info">
              <td>2</td>
              <td>DISCOUNT DISTRIBUTORS (0%)</td>
              <td></td>
            </tr>
            <tr class="danger">
              <td>3</td>
              <td>PEMBELIAN VOUCHER CUSTOMERS</td>
              <td></td>
            </tr>
            <tr class="warning">
              <td>4</td>
              <td>SISA SALDO :</td>
              <td></td>
            </tr>
            <tr class="success" style="text-align:center">
              <td colspan="2">BALANCE</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>-->