<div class="sidebar" data-active-color="blue" data-background-color="black" data-image="../assets/img/sidebar-3.jpg">
  <div class="logo">
    <a href="#" class="simple-text">
            WIFI-S
        </a>
  </div>
  <div class="logo logo-mini">
    <a href="#" class="simple-text">
            Ct
        </a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="../assets/img/faces/administrator.png" />
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            {{userProfile.name}}
        </a>
      </div>
    </div>
    <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menu of menus">
        <a routerLink={{menu.url}} >
          <i class="material-icons">{{menu.icon}}</i>
          <p>{{menu.name}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>

