<div class="card">
  <div class="card-header card-header-icon" data-background-color="rose">
    <i class="material-icons">account_circle</i>
  </div>
  <div class="card-content">
    <h4 class="card-title">User Terdaftar</h4>
    <div class="col-sm-6">
      <button class="btn btn-success btn-round" data-toggle="modal" data-target="#addUser">
        <i class="material-icons">add_circle</i> Tambah User
      </button>
    </div>
    
    <div class="col-sm-12">
    <div class="table-responsive">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="warning">Nama</th>
            <th>Profil</th>
            <th>Area</th>
            <th class="success">Saldo</th>
            <th>Persentase</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.idUser}}</td>
            <td class="warning">{{user.name}}</td>
            <td>{{user.Role.profile}}</td>
            <td>{{user.area}}</td>
            <td class="success">{{user.Balance.nominal | currency:'IDR':true:'4.2-2'}}</td>
            <td>{{user.persentase}} %</td>

            <td class="td-actions text-right">
              <button type="button" rel="tooltip" title="tambah saldo" class="btn btn-info btn-simple" data-toggle="modal" data-target="#editFeeMkt" (click)="onSelectUser(user)">
                                                            <i class="material-icons">supervisor_account</i>
                                                        </button>
              <button type="button" rel="tooltip" title="tambah saldo" class="btn btn-info btn-simple" data-toggle="modal" data-target="#addBalance" (click)="onSelectUser(user)">
                                                            <i class="material-icons">credit_card</i>
                                                        </button>
              <button type="button" rel="tooltip" title="edit user" class="btn btn-success btn-simple" data-toggle="modal" data-target="#editUser"  (click)="onSelectUser(user)">
                                                            <i class="material-icons" >edit</i>
                                                        </button>
              <button type="button" rel="tooltip" title="hapus user" class="btn btn-danger btn-simple" data-toggle="modal" data-target="#myModal" (click)="deleteUser(user)">
                                                            <i class="material-icons">close</i>
                                                        <div class="ripple-container"></div></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
    </div>  
  </div>
</div>
<app-user-modal [selectedUser]="SelectedUser"></app-user-modal>