<footer class="footer">
  <div class="container-fluid">
    <p class="copyright" align="center">
      &copy; {{year}} <a href="http://agti.co.id">PT. Arjuna Global Teknologi</a>
       | 
      <button type="button" class="btn btn-large btn-simple" (click)="logout()">Logout</button>
      
    </p>
  </div>
</footer>