<!-- Modal Tambah User -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tambah User</h4>
      </div>
      <form #addUserForm="ngForm" (ngSubmit)="addUser(addUserForm.value)">
      <div class="modal-body">
        <div class="row">        
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">person</i>
	          	</span>
              <input type="text" class="form-control" name="name" placeholder="Nama" ngModel required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">language</i>
	          	</span>
              <input type="text" class="form-control" placeholder="Area" name="area" ngModel required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="fa fa-tags" aria-hidden="true"></i>
	          	</span>
              <input type="number" class="form-control" placeholder="Persentase" name="persentase" ngModel required>
            </div>
          </div>              
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">email</i>
	          	</span>
              <input type="email" class="form-control" placeholder="Email" name="email" ngModel required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">phone</i>
	          	</span>
              <input type="text" class="form-control" placeholder="No HP" name="noHp" ngModel required>
            </div>
          </div>                                                     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info btn-simple" >Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Tambah saldo -->
<div class="modal fade" id="addBalance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Tambah Saldo {{selectedUser.User?.name}}</h4>
      </div>
      <form #addBalanceForm="ngForm"(ngSubmit)="addBalance(selectedUser.User?.id, addBalanceForm.value)">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">person</i>
	          	</span>
              <input type="text" class="form-control" placeholder="{{selectedUser.User?.name}}" disabled>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">credit_card</i>
	          	</span>
              <input type="text" class="form-control" placeholder="{{selectedUser.Balance?.nominal | currency:'IDR':true:'4.2-2'}} (saldo awal)" disabled>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">credit_card</i>
	          	</span>
              <input type="number" class="form-control" name="saldo" placeholder="Masukan nominal saldo" ngModel>
            </div>
          </div>                                                     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info btn-simple">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal Edit User -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit User {{selectedUser.User?.idUser}}</h4>
      </div>
      <form #editUserForm="ngForm" (ngSubmit)="editUser(selectedUser.id, editUserForm.value)">
      <div class="modal-body">
        <div class="row">        
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">person</i>
	          	</span>
              <input type="text" class="form-control" name="name" value="{{selectedUser.name}}" placeholder="Nama" [(ngModel)]="selectedUser.name" required>
            </div>
          </div>        
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">lock</i>
	          	</span>
              <input type="text" class="form-control" name="password" value="{{selectedUser.password}}" placeholder="Password" [(ngModel)]="selectedUser.password" required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">language</i>
	          	</span>
              <input type="text" class="form-control" value="{{selectedUser.area}}" placeholder="Area" name="area" [(ngModel)]="selectedUser.area" required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="fa fa-tags" aria-hidden="true"></i>
	          	</span>
              <input type="number" class="form-control" placeholder="Persentase" value="{{selectedUser.persentase}}" name="persentase" [(ngModel)]="selectedUser.persentase" required>
            </div>
          </div>          
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">email</i>
	          	</span>
              <input type="email" class="form-control" value="{{selectedUser.email}}" placeholder="Email" name="email" [(ngModel)]="selectedUser.email" required>
            </div>
          </div>
          <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="input-group">
              <span class="input-group-addon">
		          	<i class="material-icons">phone</i>
	          	</span>
              <input type="text" class="form-control" placeholder="No HP" name="noHp" value="{{selectedUser.noHp}}" [(ngModel)]="selectedUser.noHp" required>
            </div>
          </div>                                                     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info btn-simple" >Save</button>
      </div>
      </form>
    </div>
  </div>
</div>